* { 
    margin: 0;
    padding: 0;
}

html { 
    font-size: 62.5% ;  /* 100% => 16px .. ? =< 10px */

    
    @include responsive(tab-land) { //1200
        font-size: 50%;
    }

    @include responsive(tab-port) { //900
        font-size: 40%;
    }
    
    @include responsive(big-screen) { // +1800
        font-size: 75%;
    }

}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include responsive(tab-port) {
        padding : 0;
    }

    @include responsive(phone) {
        padding : 0;
    }
}

::selection {
    color: $color-white;
    background-color: black;
}

