body {
        font-family: "Lato" , sans-serif;
        font-weight: 400;
        line-height : 1.7;
        color : $color-grey-dark;
    

}

body a {
    text-decoration:none;
}


.heading-primary {
    color : $color-white;
    margin-bottom: 5rem;

    &--main {
        font-size : 6rem ;
        font-weight: 400;
        letter-spacing: 4rem;
        text-transform: uppercase;
        display: block;
        animation-name: moveInLeft;
        animation-duration: 1s;

        @include responsive(phone){
            letter-spacing: 2.5rem;
        }
    }
    
    &--sub {
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        animation-name: moveInRight;
        animation-duration: 1.5s;
        /* animation-count : 2s;
        animation-iteration-count: 2s;
        animation-delay : 1s;
        animation-timing-function: ease-in;
        */
    } 
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right , rgba($color-primary, 0.9 ),rgba($color-primary-dark, 0.6 ));
    color: transparent;
    display: inline-block;
    -webkit-background-clip: text;
     background-clip: text;
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph { 
    font-size: 1.6rem;
    
}